<?php

$finder = PhpCsFixer\Finder::create()->in('src');
$config = new PhpCsFixer\Config();

return $config
    ->setRules([
        '@PSR12'                     => true,
        'global_namespace_import'    => ['import_classes' => true, 'import_constants' => true, 'import_functions' => true],
        'native_function_invocation' => true,
        'array_syntax'               => ['syntax' => 'short'],
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder);
